/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body styles */

:root {
    --primary: #e3dac9;
    --secondary: #e63946;
    --tertiary: #2b2d42;
}

body {
    background-color: var(--primary);
    background-image: url(imgs/ant-rozetsky-SLIFI67jv5k-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    font-family: Impact, sans-serif;
    overflow: scroll;
}

/* header and form styles */

.header {
    display: flex;
    justify-content: center;
    margin: 30px 0px 20px 0px;
    color: var(--primary);
    font-size: 4em;
    text-shadow: 5.5px 5.5px .5px var(--secondary);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    transition: text-shadow .6s ease-in-out;
    animation: glow 8s ease-in-out infinite;
}

.header:hover {
    text-shadow: -5.5px 5.5px .5px var(--secondary);
}

.form {
    display: flex;
    flex-direction: column;
}

.form-div {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.input-field {
    height: 30px;
    width: 70%;
    text-align: center;
    border-radius: 10px;
}

input:focus {
    outline: none;
    color: white;
    background-color: var(--secondary);
    transform: translateX(-5px) translateY(-1.5px);
}

.label {
    color: var(--primary);
    padding: 10px 10px;
}

.label:hover {
    color: var(--secondary);
}

.button {
    margin-left: 20px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.button:hover {
    background-color: var(--secondary);
    color: var(--primary);
    transform: scale(1.1);
    overflow: hidden;
}

/* meme styles */

#meme-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
}

.new-img {
    width: 400px;
    height: 400px;
}

.new-meme {
    position: relative;
    display: inline-block;
    color: white;
    min-width: 400px;
    min-height: 400px;
    margin: 5px 5px;
    border-radius: 2.5%;
    overflow: hidden;
    transition: transform .3s ease-in-out;
}

.new-meme:hover {
    opacity: .7;
    transform: translateY(-2.5px) translateX(-2.5px);
}

.top, .bot {
    position: absolute;
    font-size: 3.25em;
    left: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.top {
    top: 10px;
}

.bot {
    bottom: 10px;
}

.delete-icon {
    position: absolute;
    font-size: 10em;
    left: 120px;
    top: 106px;
    opacity: 0;
}

.delete-icon:hover {
    opacity: .5;
    animation: growLarge .4s forwards ease-in-out;
}

/* keyframes */

@keyframes growLarge {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(5);
    }
}

@keyframes glow {
    0%, 100% {
        color: var(--primary);
    }
    50%{
        color: #ffff33;
    }
}

/*
    Todos:
    meme styles:
    text isn't quite centered (depends on the length of the text)
*/